<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Thoth Bullet Journal</title>
        <link rel="stylesheet" href="{% static "/assets/style.css" %}">
    </head>
    <body>
        <nav>
            <h1><a href="{% url 'index' %}">Thoth</a></h1>
            <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>
