<!DOCTYPE html>
<html>
    <head>
        <title>Thoth Bullet Journal</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
          <h1><a href="{{ url_for('index') }}">Thoth</a></h1>
            <ul>
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/register">Register</a></li>
            </ul>
        </na>
        {% block content %}
        {% endblock %}
        <script src="{{ url_for('static', filename='lib/index.js') }}"></script>
    </body>
</html>
